*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Merriweather Sans", "Segoe UI",  
    "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji", 
     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  

 main{
    padding-top: 160px;
    padding-bottom: 160px;
    background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/img/bg-landing-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

  }

.bg-color{
      background-color: rgb(244, 98, 58) !important;
    
  }

 .text-color,
  .border-pry{
    color: rgb(244, 98, 58) !important;
  }


   .find-color:hover{
    background-color:#cf5331 !important;
  }

  .img-text{
    position: relative  
  }

  .portfolio-box-caption{
    position: absolute;
    bottom: 0 ;
    width: 100%;
    height:100%;
    opacity: 0;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .img-text:hover .portfolio-box-caption{
    opacity: 1;
  }